In [1]:


#imports
import pandas as pd
import numpy as np
import os
from sklearn.model_selection import train_test_split
import os
import json
from pandas import json_normalize

def load_df(csv_path='../input/train.csv', nrows=None):
    JSON_COLUMNS = ['device', 'geoNetwork', 'totals', 'trafficSource']
    
    df = pd.read_csv(csv_path, 
                     converters={column: json.loads for column in JSON_COLUMNS}, 
                     dtype={'fullVisitorId': 'str'}, # Important!!
                     nrows=nrows)
    
    for column in JSON_COLUMNS:
        column_as_df = json_normalize(df[column])
        column_as_df.columns = [f"{column}.{subcolumn}" for subcolumn in column_as_df.columns]
        df = df.drop(column, axis=1).merge(column_as_df, right_index=True, left_index=True)
    print(f"Loaded {os.path.basename(csv_path)}. Shape: {df.shape}")
    return df

In [2]:
train = load_df(nrows=100000, csv_path="data/train.csv")
test = load_df("data/test.csv", 100000)

Loaded train.csv. Shape: (100000, 55)
Loaded test.csv. Shape: (100000, 53)

In [3]:
test.head()

,channelGrouping,date,fullVisitorId,sessionId,socialEngagementType,visitId,visitNumber,visitStartTime,device.browser,device.browserVersion,...,trafficSource.keyword,trafficSource.isTrueDirect,trafficSource.adwordsClickInfo.criteriaParameters,trafficSource.adwordsClickInfo.page,trafficSource.adwordsClickInfo.slot,trafficSource.adwordsClickInfo.gclId,trafficSource.adwordsClickInfo.adNetworkType,trafficSource.adwordsClickInfo.isVideoAd,trafficSource.referralPath,trafficSource.adContent
0,Organic Search,20171016,6167871330617112363,6167871330617112363_1508151024,Not Socially Engaged,1508151024,2,1508151024,Chrome,not available in demo dataset,...,(not provided),True,not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Organic Search,20171016,0643697640977915618,0643697640977915618_1508175522,Not Socially Engaged,1508175522,1,1508175522,Chrome,not available in demo dataset,...,(not provided),NaN,not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Organic Search,20171016,6059383810968229466,6059383810968229466_1508143220,Not Socially Engaged,1508143220,1,1508143220,Chrome,not available in demo dataset,...,(not provided),NaN,not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Organic Search,20171016,2376720078563423631,2376720078563423631_1508193530,Not Socially Engaged,1508193530,1,1508193530,Safari,not available in demo dataset,...,(not provided),NaN,not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Organic Search,20171016,2314544520795440038,2314544520795440038_1508217442,Not Socially Engaged,1508217442,1,1508217442,Safari,not available in demo dataset,...,(not provided),NaN,not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
train.head()

,channelGrouping,date,fullVisitorId,sessionId,socialEngagementType,visitId,visitNumber,visitStartTime,device.browser,device.browserVersion,...,trafficSource.adwordsClickInfo.criteriaParameters,trafficSource.isTrueDirect,trafficSource.referralPath,trafficSource.adwordsClickInfo.page,trafficSource.adwordsClickInfo.slot,trafficSource.adwordsClickInfo.gclId,trafficSource.adwordsClickInfo.adNetworkType,trafficSource.adwordsClickInfo.isVideoAd,trafficSource.adContent,trafficSource.campaignCode
0,Organic Search,20160902,1131660440785968503,1131660440785968503_1472830385,Not Socially Engaged,1472830385,1,1472830385,Chrome,not available in demo dataset,...,not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Organic Search,20160902,377306020877927890,377306020877927890_1472880147,Not Socially Engaged,1472880147,1,1472880147,Firefox,not available in demo dataset,...,not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Organic Search,20160902,3895546263509774583,3895546263509774583_1472865386,Not Socially Engaged,1472865386,1,1472865386,Chrome,not available in demo dataset,...,not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Organic Search,20160902,4763447161404445595,4763447161404445595_1472881213,Not Socially Engaged,1472881213,1,1472881213,UC Browser,not available in demo dataset,...,not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Organic Search,20160902,27294437909732085,27294437909732085_1472822600,Not Socially Engaged,1472822600,2,1472822600,Chrome,not available in demo dataset,...,not available in demo dataset,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
test.describe()

               date       visitId    visitNumber  visitStartTime
count  1.000000e+05  1.000000e+05  100000.000000    1.000000e+05
mean   2.017577e+07  1.513966e+09       2.410840    1.513966e+09
std    4.617857e+03  6.302320e+06       9.729287    6.302320e+06
min    2.017082e+07  1.503125e+09       1.000000    1.503126e+09
25%    2.017102e+07  1.508184e+09       1.000000    1.508184e+09
50%    2.018010e+07  1.515013e+09       1.000000    1.515013e+09
75%    2.018023e+07  1.519838e+09       1.000000    1.519838e+09
max    2.018043e+07  1.525072e+09     456.000000    1.525072e+09

In [6]:
train.describe()

               date       visitId    visitNumber  visitStartTime
count  1.000000e+05  1.000000e+05  100000.000000    1.000000e+05
mean   2.016536e+07  1.484710e+09       2.274210    1.484710e+09
std    4.694358e+03  9.166865e+06       9.260941    9.166865e+06
min    2.016081e+07  1.470896e+09       1.000000    1.470899e+09
25%    2.016111e+07  1.478832e+09       1.000000    1.478832e+09
50%    2.016121e+07  1.481667e+09       1.000000    1.481667e+09
75%    2.017050e+07  1.493684e+09       1.000000    1.493684e+09
max    2.017080e+07  1.501657e+09     389.000000    1.501657e+09

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 55 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   channelGrouping                                    100000 non-null  object
 1   date                                               100000 non-null  int64
 2   fullVisitorId                                      100000 non-null  object
 3   sessionId                                          100000 non-null  object
 4   socialEngagementType                               100000 non-null  object
 5   visitId                                            100000 non-null  int64
 6   visitNumber                                        100000 non-null  int64
 7   visitStartTime                                     100000 non-null  int64
 8   device.browser                                     100000 non-null  object
 9   device.browserVersion                              100000 non-null  object
 10  device.browserSize                                 100000 non-null  object
 11  device.operatingSystem                             100000 non-null  object
 12  device.operatingSystemVersion                      100000 non-null  object
 13  device.isMobile                                    100000 non-null  bool
 14  device.mobileDeviceBranding                        100000 non-null  object
 15  device.mobileDeviceModel                           100000 non-null  object
 16  device.mobileInputSelector                         100000 non-null  object
 17  device.mobileDeviceInfo                            100000 non-null  object
 18  device.mobileDeviceMarketingName                   100000 non-null  object
 19  device.flashVersion                                100000 non-null  object
 20  device.language                                    100000 non-null  object
 21  device.screenColors                                100000 non-null  object
 22  device.screenResolution                            100000 non-null  object
 23  device.deviceCategory                              100000 non-null  object
 24  geoNetwork.continent                               100000 non-null  object
 25  geoNetwork.subContinent                            100000 non-null  object
 26  geoNetwork.country                                 100000 non-null  object
 27  geoNetwork.region                                  100000 non-null  object
 28  geoNetwork.metro                                   100000 non-null  object
 29  geoNetwork.city                                    100000 non-null  object
 30  geoNetwork.cityId                                  100000 non-null  object
 31  geoNetwork.networkDomain                           100000 non-null  object
 32  geoNetwork.latitude                                100000 non-null  object
 33  geoNetwork.longitude                               100000 non-null  object
 34  geoNetwork.networkLocation                         100000 non-null  object
 35  totals.visits                                      100000 non-null  object
 36  totals.hits                                        100000 non-null  object
 37  totals.pageviews                                   99993 non-null   object
 38  totals.bounces                                     48916 non-null   object
 39  totals.newVisits                                   77263 non-null   object
 40  totals.transactionRevenue                          1399 non-null    object
 41  trafficSource.campaign                             100000 non-null  object
 42  trafficSource.source                               100000 non-null  object
 43  trafficSource.medium                               100000 non-null  object
 44  trafficSource.keyword                              44218 non-null   object
 45  trafficSource.adwordsClickInfo.criteriaParameters  100000 non-null  object
 46  trafficSource.isTrueDirect                         30454 non-null   object
 47  trafficSource.referralPath                         36473 non-null   object
 48  trafficSource.adwordsClickInfo.page                2574 non-null    object
 49  trafficSource.adwordsClickInfo.slot                2574 non-null    object
 50  trafficSource.adwordsClickInfo.gclId               2625 non-null    object
 51  trafficSource.adwordsClickInfo.adNetworkType       2574 non-null    object
 52  trafficSource.adwordsClickInfo.isVideoAd           2574 non-null    object
 53  trafficSource.adContent                            1325 non-null    object
 54  trafficSource.campaignCode                         1 non-null       object
dtypes: bool(1), int64(4), object(50)
memory usage: 41.3+ MB

We can tell that there appears to be no missing values

In [8]:
train.plot(kind="scatter", x="geoNetwork.longitude", y="geoNetwork.latitude", alpha=0.4,
    #s=training["totals.transactionRevenut"]/100, label="transactionRevenue", 
    figsize=(10,7),
    c="totals.transactionRevenue", cmap=plt.get_cmap("jet"), colorbar=True,
    sharex=False)

NameError: name 'plt' is not defined

In [ ]:
train["geoNetwork.longitude"]

In [ ]:
#df = df.loc[:, (df.isnull().sum(axis=0) <= max_number_of_nas)]
#train = train.loc[:, (train.eq("not available in demo dataset"))]

# Find the columns where values are not available
useless_cols = [col for col in train.columns if train[col].eq("not available in demo dataset").all()]
# Drop these columns from the dataframe
train.drop(useless_cols,
        axis=1,
        inplace=True)
train.info()

# Find the columns where values are not available
useless_cols = [col for col in train.columns if train[col].isna().all()]
# Drop these columns from the dataframe
train.drop(useless_cols,
        axis=1,
        inplace=True)
train.info()

In [ ]:
train["totals.transactionRevenue"]

Maybe add columns for lat/long using another dataset like https://simplemaps.com/data/world-cities

In [ ]:
payingCustomers = train.loc[train['totals.transactionRevenue'].notna()]
payingCustomers

In [ ]:
payingCustomers.describe()

In [ ]:
payingCustomers.info()

In [ ]:
payingCustomers["channelGrouping"].value_counts()

In [ ]:
payingCustomers["date"].value_counts()

In [ ]:
import seaborn as sns
cor = payingCustomers.corr()
plt.figure(figsize=(3,3))
sns.heatmap(cor, annot=True)

In [ ]:
corr_matrix = payingCustomers.corr()
corr_matrix['totals.transactionRevenue'].sort_values(ascending=False)